@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply h-screen;
  background: #00182b;
  background: linear-gradient(
    to bottom,
    #00182b 0%,
    #040b3c 33%,
    #012459 66%,
    #233072 100%
  );
  /* 2 - 0 - 22 - 20 */
}
